
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="~/css/holiday.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
    <header>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.js"></script>

        <script>
            $(document).ready(function () {
                loadServerPartialView("#mainContainer", "/Holiday/GetHolidays");
                consistentStyle("holidaysTable");
                addHoliday();
                holidaysTable();
                addEmployee();
                employeesTable();
                myHolidays();
                holidayApplication();
                holidaysToApprove();
                setNavBar();
            });

            function addHoliday() {
                $("#addHoliday").on("click", function () {
                    loadServerPartialView("#mainContainer", "/Holiday/Create");
                    consistentStyle("addHoliday");
                });
            }

            function holidaysTable() {
                $("#holidaysTable").on("click", function () {
                    loadServerPartialView("#mainContainer", "/Holiday/GetHolidays");
                    consistentStyle("holidaysTable");
                });
            }

            function addEmployee() {
                $("#addEmployee").on("click", function () {
                    loadServerPartialView("#mainContainer", "/Employee/Create");
                    consistentStyle("addEmployee");
                });
            }

            function employeesTable() {
                $("#employeesTable").on("click", function () {
                    loadServerPartialView("#mainContainer", "/Employee/Index");
                    consistentStyle("employeesTable");
                });
            }

            function holidayApplication() {
                $("#holidayApplication").on("click", function () {
                    loadServerPartialView("#mainContainer", "/HolidayApplication/Create");
                    consistentStyle("holidayApplication");
                });
            }

            function myHolidays() {
                $("#myHolidays").on("click", function () {
                    loadServerPartialView("#mainContainer", "/HolidayApplication/GetAllForEmployee");
                    consistentStyle("myHolidays");
                });
            }

            function holidaysToApprove() {
                $("#holidaysToApprove").on("click", function () {
                    loadServerPartialView("#mainContainer", "/HolidayApplication/GetAllActive");
                    consistentStyle("holidaysToApprove");
                });
            }

            function loadDetailsHolidayApplication(holidayApplicationId) {
                loadServerPartialView("#mainContainer", "/HolidayApplication/Details?id=" + holidayApplicationId);
            }

            function loadEditHoliday(holidayId) {
                loadServerPartialView("#mainContainer", "/Holiday/Edit?id=" + holidayId);
            }

            function loadReadMoreHoliday(holidayId) {
                loadServerPartialView("#mainContainer", "/Holiday/ReadMore?id=" + holidayId);
            }

            function loadEditEmployee(employeeId) {
                loadServerPartialView("#mainContainer", "/Employee/Edit?id=" + employeeId);
            }

            function loadDetailsEmployee(employeeId) {
                loadServerPartialView("#mainContainer", "/Employee/Details?id=" + employeeId);
            }

            function consistentStyle(id) {
                document.getElementById(id).style.color = "white";
                document.getElementById(id).style.backgroundColor = "black";
                removeStyles(id);
            }

            function nonConsistentStyle(id) {
                document.getElementById(id).style.color = "black";
                document.getElementById(id).style.backgroundColor = "lightgray";
            }

            function removeStyles(id) {
                var arrayNavLinks = [
                    "holidaysTable",
                    "addHoliday",
                    "employeesTable",
                    "addEmployee",
                    "myHolidays",
                    "holidayApplication",
                    "holidaysToApprove"
                ];

                for (var i = 0; i < arrayNavLinks.length; i++) {
                    if (id != arrayNavLinks[i]) {
                        nonConsistentStyle(arrayNavLinks[i]);
                    }
                }
            }

            function setNavBar() {
                @if (User.IsInRole("HR"))
                {
                    @: document.getElementById("holidaysToApprove").style.display = "none";
                }

                @if (User.IsInRole("Manager"))
                {
                    @: document.getElementById("addHoliday").style.display = "none";
                    @: document.getElementById("addEmployee").style.display = "none";
                }

                @if (User.IsInRole("Operational"))
                {
                    @: document.getElementById("addHoliday").style.display = "none";
                    @: document.getElementById("addEmployee").style.display = "none";
                    @: document.getElementById("employeesTable").style.display = "none";
                    @: document.getElementById("holidaysToApprove").style.display = "none";
                }
            }

            function loadServerPartialView(container, baseUrl) {
                return $.get(baseUrl, function (responseData) {
                    $(container).html(responseData);
                });
            }
        </script>
    </header>
    <nav class="my-nav">
        <ul class="nav-links">
            <li class="nav-link" id="holidaysTable">Holidays</li>
            <li class="nav-link" id="addHoliday"><a>Add Holiday</a></li>
            <li class="nav-link" id="employeesTable">Employees</li>
            <li class="nav-link" id="addEmployee">Add Employee</li>
            <li class="nav-link" id="myHolidays">My Holidays</li>
            <li class="nav-link" id="holidayApplication">Holiday Application</li>
            <li class="nav-link" id="holidaysToApprove">Holidays To Approve</li>
            <li class="nav-link">
                <form>
                    <a class="form-inline" asp-area="Identity" asp-page="/Account/Login" >Logout</a>
                </form>
            </li>
        </ul>
    </nav>
    <section class="container" id="mainContainer"></section>
</body>
</html>

    
